page-history-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: contain;
    height: 50%;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: relative;
    text-align: center;
  }
  .item-device-detail {
    background: white;
    position: relative;
    margin: 8px;
    border-radius: 8px;
    border:2px solid cornflowerblue;
  }

  .item-device-detail-tab {
    margin-left: 20px;
  }
  .item-device-detail-seperate {
    margin-bottom: 20px;
  }

  .item-device-detail-title {
    text-decoration-color: cornflowerblue;
    margin-top: -16px;
    text-align: center;
  }
}
