<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ device.brand }} {{ device.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + device.picture + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{ device.brand }} {{device.name}}</h2>
  </div>
  <div class="item-device-detail" padding-top>
    <ion-list no-lines>
      <ion-item>
        <ion-label>{{ 'FROM' | translate}}: {{device.timepickup | date:'dd/MM/yy H:mm'}}</ion-label>
        <ion-label>{{ 'TO' | translate}}: {{device.timereturn | date:'dd/MM/yy H:mm'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'NAME_TITLE_INPUT' | translate }}: {{device.username}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'EMAIL_TITLE_INPUT' | translate }}: {{device.useremail}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'PHONE_TITLE_INPUT' | translate }}: {{device.userphone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'DATE_RESERVATION_CR' | translate}}: {{device.createdAt | date:'dd/MM/yy H:mm'}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-list no-lines>
    <ion-item>
      <ion-label>{{ 'PICKUP' | translate }}</ion-label><ion-icon name="clock" item-start></ion-icon>
      <ion-datetime displayFormat="DD/MM/YYYY H:mm" max="2020-12-31" pickerFormat="DD MM YYYY H:mm" [(ngModel)]="from"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'RETURN_DEVICE_BUTTON' | translate }}</ion-label><ion-icon name="alarm" item-start=""></ion-icon>
      <ion-datetime displayFormat="DD/MM/YYYY H:mm" max="2020-12-31" pickerFormat="DD MM YYYY H:mm" [(ngModel)]="to"></ion-datetime>
    </ion-item>
  </ion-list>
  <div padding>
    <button (click)="availabilityChecking()" ion-button block color="primary">{{'PICKUP_DEVICE_BUTTON' | translate}}</button>
  </div>

</ion-content>
