page-my_login {
    .splash-bg {
      position: relative;
      background: url('../assets/img/aubay.jpeg') no-repeat transparent;
      background-size: cover;
      height: 45%;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 40s linear infinite;
    }

    @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }

    .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -64px;
      text-align: center;
    }
    .splash-logo {
      margin: auto;
      background: url('../assets/img/loho.png') repeat transparent;
      background-size: 100%;
      width: 128px;
      height: 128px;
    }
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
    }
    button.login {
      margin-top: 25px;
      background-color: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: #333;

      &.activated {
        background-color: rgb(220, 220, 220);
      }
    }

  .login-content {
    background: #56CA96;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #51CFB1;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }

  }

