<ion-header>
</ion-header>

<ion-content class="login-content">
    <div class="splash-bg"></div>
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro">{{ 'LOGIN_TITLE' | translate }}</div>
    </div>
  <div class="login-box">
    <form (ngSubmit)="doLogin()">
      <ion-row>
        <ion-col>
      <ion-list inset>
        <ion-item>
          <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" (change)="formValid($event)" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" (change)="formValid($event)" name="password"></ion-input>
        </ion-item>
      </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
        <div padding>
          <button type="submit" [disabled]="!Formvalid" ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
        </div>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
