<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'DEVICES_CREATE_TITLE' | translate }}</ion-title>
<!--    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="devices-profile-image-wrapper" (click)="getPicture()">
      <div class="devices-profile-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="devices-profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.picture.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label color="primary">{{ 'ID_FACTORY_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="text" formControlName="IdFactory"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'BRAND_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="text" formControlName="brand"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'NAME_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="text"  formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'OS_TITLE_INPUT' | translate }}</ion-label>
        <ion-select  formControlName="os">
          <ion-option value="iOS">iOS</ion-option>
          <ion-option value="Android">Android</ion-option>
          <ion-option value="WindowsPhone">Windows Phone</ion-option>
          <ion-option value="Androidwear">Androidwear</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label color="primary">{{ 'VERSION_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="text"  formControlName="version"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'SCREEN_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="number" (change)="onChange($event)" formControlName="screen"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'RESOLUTION_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="number" placeholder="{{ 'WIDTH_TITLE_INPUT' | translate }}" (change)="onChange($event)" formControlName="width"></ion-input>
        <ion-input type="number" placeholder="{{ 'HEIGHT_TITLE_INPUT' | translate }}" (change)="onChange($event)" formControlName="height"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'DENSITY_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="number" readonly="true" formControlName="density"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'TYPE_TITLE_INPUT' | translate }}</ion-label>
        <ion-select  formControlName="type">
          <ion-option value="smartphone">{{ 'SMARTPHONE' | translate }}</ion-option>
          <ion-option value="tablette">{{ 'TABLET' | translate }}</ion-option>
          <ion-option value="smartwatch">{{ 'SMARTWATCH' | translate }}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
