<ion-header>
  <div class="header">
    <ion-title class="header">{{ 'DASHBOARD_ADMIN' | translate }}</ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="item-dashboard-admin" padding>
    <ion-list>
      <div padding>
        <button ion-button style="font-size: 12px;" color="dark" round outline block (click)="opennewuser()">
          <ion-icon name='person-add' item-start></ion-icon>
          <ion-label>{{ 'CREATE_NEW_USER_BUTTON' | translate }}</ion-label>
          <ion-icon name='arrow-forward' item-end></ion-icon>
        </button>
      </div>
      <div padding>
        <button ion-button style="font-size: 12px;" color="dark" round outline block (click)="openusers()">
          <ion-icon name='people' item-start></ion-icon>
          <ion-label>{{ 'USERS_BUTTON' | translate }}</ion-label>
          <ion-icon name='arrow-forward' item-end></ion-icon>
        </button>
      </div>
      <div padding>
        <button ion-button style="font-size: 12px;" color="dark" round outline block (click)="opennewdevice()">
          <ion-icon name='phone-portrait' item-start></ion-icon>
          <ion-label>{{ 'CREATE_NEW_DEVICE_BUTTON' | translate }}</ion-label>
          <ion-icon name='arrow-forward' item-end></ion-icon>
        </button>
      </div>
      <div padding>
        <button ion-button style="font-size: 12px;" color="dark" round outline block (click)="openprofile()">
          <ion-icon name='person' item-start></ion-icon>
          <ion-label>{{ 'PROFILE_BUTTON' | translate }}</ion-label>
          <ion-icon name='arrow-forward' item-end></ion-icon>
        </button>
      </div>
    </ion-list>
  </div>

  <div class="item-dashboard-admin" padding>
    <div padding>
      <button ion-button (click)="logout()" color="primary" round>{{ 'LOGOUT_BUTTON' | translate }}</button>
    </div>
  </div>

</ion-content>
