<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="phone-portrait"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="podium"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="tab4Title" tabIcon="cog"></ion-tab>
</ion-tabs>
