page-dashboard-user {
  .item-dashboard-admin{
    background: white;
    position: relative;
    margin: 20px;
    text-align:center;
  }
  .item-dashboard-admin-title {
    text-decoration-color: cornflowerblue;
    margin-top: -16px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-decoration:underline;
  }
  .item-dashboard-admin-text {
    margin-top: 16px;
    margin-bottom: -16px;
    text-align: center;
    font-weight: bold;
  }

  .header{
    color: white;
    background: dodgerblue;
    padding: 8px;
  }
}
