<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'USERS_SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of users">
      <ion-avatar item-start>
        <img [src]="item.picture" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.email}}</p>
      <ion-note item-end *ngIf="item.phone">{{item.phone}}</ion-note>
    </button>
  </ion-list>
</ion-content>
