<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'AVAILABLE_DEVICES' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
  <ion-list no-lines tappable (click)="bookRoom(item)" *ngFor="let item of devices">
    <ion-item>
      <ion-thumbnail item-start>
        <img  src="{{item.picture}}">
      </ion-thumbnail>
      <h2 text-wrap>{{item.brand }} {{item.name}}</h2>
      <p>{{ 'SCREEN_TITLE_INPUT' | translate }} : {{item.screen}}</p>
      <p>{{ 'VERSION_TITLE_INPUT' | translate }} : {{item.version}}</p>
      <button ion-button clear  item-end>{{'RESERVE_BUTTON' | translate}}</button>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
