page-device-detail {
  .item-profileBefore {
    width: 100%;
    background-position: center center;
    background-size: contain;
    height: 50%;
  }
  .item-profile {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-position: center;
    background-size: cover;
    height: 30%;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: relative;
    text-align: center;
  }
  .item-device-detail {
    background: white;
    position: relative;
    margin: 8px;
    border-radius: 8px;
    border: 2px solid cornflowerblue;
  }

  .item-device-detail-tab {
    margin-left: 20px;
  }
  .item-device-detail-seperate {
    margin-bottom: 20px;
  }

  .item-device-detail-title {
    text-decoration-color: cornflowerblue;
    margin-top: -16px;
    text-align: center;
  }

  .calendarStyle {
    :host > div {
      height: 5%;
    }
    .event-detail-container {
      border-top: 2px darkgrey solid;
    }
    .no-events-label {
      font-weight: bold;
      color: darkgrey;
      text-align: center;
    }
    .event-detail {
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .monthview-eventdetail-timecolumn {
      width: 110px;
      overflow: hidden;
    }
    .calendar-event-inner {
      overflow: hidden;
      background-color: #3a87ad;
      color: white;
      height: 100%;
      width: 100%;
      padding: 2px;
      line-height: 15px;
    }
    @media (max-width: 750px) {
      .calendar-event-inner {
        font-size: 12px;
      }
    }
  }

  .monthview-container {
    height: auto !important;
    overflow: hidden;
  }
}
