<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ device.brand }} {{ device.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + device.picture + ')'">
  </div>

  <div class="item-detail">
    <h2>{{ device.brand }} {{device.name}}</h2>
    <ion-list no-lines>
    <ion-item>
      <ion-label>{{ 'TYPE_TITLE_INPUT' | translate }} : {{device.type}}</ion-label>
      <ion-label >{{ 'OS_TITLE_INPUT' | translate }} : {{device.os}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'RESOLUTION_TITLE_INPUT' | translate }} : {{device.height}}x{{device.width}}</ion-label>
      <ion-label>{{ 'SCREEN_TITLE_INPUT' | translate }} : {{device.screen}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'DENSITY_TITLE_INPUT' | translate }} : {{device.density}}</ion-label>
      <ion-label>{{ 'VERSION_TITLE_INPUT' | translate }} : {{device.version}}</ion-label>
    </ion-item>
    </ion-list>
  </div>

  <ion-label text-center>{{viewTitle | date:'dd MMMM yyyy'}}</ion-label>


  <calendar
            [startingDayMonth] = "calendar.startingDayMonth"
            [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            [noEventsLabel]="noEventsLabel"
            step="30">
  </calendar>

  <ion-list no-lines>
    <ion-item>
      <ion-label>{{ 'PICKUP' | translate }}</ion-label><ion-icon name="clock" item-start></ion-icon>
      <ion-datetime displayFormat="DD/MM/YYYY H:mm" max="2020-12-31" pickerFormat="DD MM YYYY H:mm" [(ngModel)]="from"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'RETURN_DEVICE_BUTTON' | translate }}</ion-label><ion-icon name="alarm" item-start=""></ion-icon>
      <ion-datetime displayFormat="DD/MM/YYYY H:mm" max="2020-12-31" pickerFormat="DD MM YYYY H:mm" [(ngModel)]="to"></ion-datetime>
    </ion-item>
  </ion-list>
  <div padding>
    <button (click)="availabilityChecking()" ion-button block color="primary">{{'PICKUP_DEVICE_BUTTON' | translate}}</button>
  </div>


</ion-content>
