<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'USERSLIST_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="opensearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid >
    <ion-row >
      <ion-avatar item-start>
        <ion-icon style=" margin-top:12px; padding-left: 25px; padding-right: 25px;" name='person' ></ion-icon>
      </ion-avatar>
      <ion-label>
        <div>{{ 'NAME_TITLE_INPUT' | translate }}</div>
      </ion-label>
      <ion-label >
        <div>{{ 'EMAIL_TITLE_INPUT' | translate }}</div>
      </ion-label>
      <ion-icon style=" margin-top:12px;  padding-right: 25px;" name="information-circle" item-end></ion-icon>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of users">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.picture"/>
        </ion-avatar>
        <ion-label>
          <h3>{{item.name}}</h3>
        </ion-label>
        <ion-label>
          <h3>{{item.email}}</h3>
        </ion-label>
          <ion-icon
            item-end
            class="ion-icon-status"
            [style.color]="item.status ? 'green' : 'gray'"
            [name]="item.status ? 'happy' : 'sad'">
          </ion-icon>
      </button>
      <ion-item-options>
        <button ion-button (click)="popupChangeStatusUser(item)" >
          {{ 'USER_SUSPEND_BUTTON' | translate }}
        </button>
        <button ion-button color="danger" (click)="popupDeleteUser(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
