<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'DEVICESLIST_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="opensearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid >
    <ion-row >
      <ion-avatar item-start>
        <ion-icon style=" margin-top:12px; padding-left: 25px; padding-right: 25px;" name='phone-portrait' ></ion-icon>
      </ion-avatar>
      <ion-label>
        <div>{{ 'MODEL' | translate }}</div>
      </ion-label>
      <ion-label fixed>
        <div>{{ 'STATUS_TITLE_INPUT' | translate }}</div>
      </ion-label>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="loadDevices($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of devices">
      <button ion-item (click)="openItem(item)">
        <ion-thumbnail item-start>
          <img [src]="item.picture"/>
        </ion-thumbnail>
        <ion-label text-wrap>
          <h2>{{item.name}}</h2>
          <p>{{item.brand}}</p>
        </ion-label>
        <ion-label fixed>
          <h2>{{ item.status ?  ( 'UNAVAILABLE' | translate)  :  ('FREE' | translate) }}</h2>
        </ion-label>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
