<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of devices">
      <ion-avatar item-start>
        <img [src]="item.picture" />
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.brand}}</p>
      </ion-label>
      <ion-label>{{item.username}}</ion-label>
      <ion-label text-wrap>
        <p>Du : {{item.timepickup | date:'dd/MM/yy H:mm'}}</p>
      </ion-label>
      <ion-label text-wrap>
        <p>Au : {{item.timereturn | date:'dd/MM/yy H:mm'}}</p>
      </ion-label>
    </button>
  </ion-list>
</ion-content>
