<ion-header>
  <ion-navbar color="primary">
    <ion-title>Historique</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="opensearch(history)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid>
    <ion-item>
      <ion-label style="font-size: 13px;">{{'DATE_FILTER' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="useDateFilter" (ionChange)="dateChanged()"></ion-toggle>
      <ion-datetime displayFormat="DD/MM/YYYY"  pickerFormat="DD/MM/YYYY"
      [(ngModel)]="dateFilter" (ionChange)="dateChanged()" [(disabled)]="!useDateFilter"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label style="font-size: 13px;">{{'HISTORY_DISPLAY_FEW_RESERVATIONS' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="uselastReservation" (ionChange)="lastReservations()"></ion-toggle>
    </ion-item>

    <ion-row>
      <ion-avatar item-start><ion-icon style=" margin-top:12px; padding-left: 25px; padding-right: 25px;" name='phone-portrait'></ion-icon></ion-avatar>
      <ion-label><div>{{ 'MODEL' | translate }}</div></ion-label>
      <ion-label fixed><div>{{ 'USER' | translate }}</div></ion-label>
      <ion-label><div>{{ 'FROM' | translate }}</div></ion-label>
      <ion-label><div>{{ 'TO' | translate }}</div></ion-label>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list  no-lines>
    <ion-item-sliding (click)="openItem(item)" *ngFor="let item of history ">
      <button ion-item>
        <ion-avatar item-start><img [src]="item.picture"/></ion-avatar>
        <ion-label text-wrap>
          <h3>{{item.name}}</h3>
          <p>{{item.brand}}</p>
        </ion-label>
        <ion-label text-wrap><h3>{{item.username}}</h3></ion-label>
        <ion-label text-wrap><p>{{item.timepickup | date:'dd/MM/yy H:mm'}}</p></ion-label>
        <ion-label text-wrap><p>{{item.timereturn | date:'dd/MM/yy H:mm'}}</p></ion-label>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
