<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="popupChangeProfile()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-icon name='rose' item-end color="secondary"></ion-icon>

<ion-content>
  <div class="item-profile" text-center #imageProfile [style.background-image]="'url(' + item.picture + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.name}}</h2>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
      <ion-list no-lines>
        <ion-item >
          <ion-icon name='person' item-start></ion-icon>
          <ion-label color="primary">{{ 'NAME_TITLE_INPUT' | translate }}</ion-label>
          <ion-input  type="text" [(ngModel)]="item.name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item >
          <ion-icon name='mail' item-start></ion-icon>
          <ion-label color="primary">{{ 'EMAIL_TITLE_INPUT' | translate }}</ion-label>
          <ion-input  type="email"  [(ngModel)]="item.email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name='phone-portrait' item-start></ion-icon>
          <ion-label color="primary">{{ 'PHONE_TITLE_INPUT' | translate }}</ion-label>
          <ion-input  type="number"  [(ngModel)]="item.phone" formControlName="phone"></ion-input>
        </ion-item>


        <ion-item>
          <ion-icon name='information-circle' item-start></ion-icon>
          <ion-label color="primary">{{ 'ACTIVE' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="item.status" formControlName="status"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-icon name='cog' item-start></ion-icon>
          <ion-label color="primary">{{ 'ADMIN_TITLE_INPUT' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="item.admin" formControlName="admin"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-icon name='camera' item-start></ion-icon>
          <ion-label color="primary">{{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}</ion-label>
          <ion-input  type="text" [(ngModel)]="item.picture" formControlName="picture"></ion-input>
        </ion-item>

      </ion-list>
    </form>

<!--    <ion-item>
      <ion-icon name='mail' item-start></ion-icon>
      <ion-label>
        {{ 'EMAIL_TITLE_INPUT' | translate }} :
      </ion-label>
      <ion-note color="dark" item-end> {{item.email}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='phone-portrait' item-start></ion-icon>
      <ion-label>
        {{ 'PHONE_TITLE_INPUT' | translate }} :
      </ion-label>
      <ion-note color="dark" item-end>{{item.phone}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='person' item-start></ion-icon>
      <ion-label>
        {{ 'ACTIVE' | translate }} :
      </ion-label>
        <p item-end>{{item.status ? userActive : userInactive }}</p>
    </ion-item>-->
  </div>


</ion-content>
