<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'USERS_CREATE_TITLE' | translate }}</ion-title>
<!--    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="users-profile-image-wrapper" (click)="getPicture()">
      <div class="users-profile-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="users-profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.picture.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label color="primary">{{ 'NAME_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'EMAIL_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="email"  formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="hasError('email', 'emailBadFormat')">
        <p text-wrap>Email is not valid</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'PHONE_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="number"  formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'PASSWORD_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="password"  formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="hasError('password', 'passwordBadFormat')">
        <p text-wrap>Password must contain at least 1 uppercase Letter, 1 Number and must be between 4 and 12 characters long</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'ACTIVE' | translate }}</ion-label>
        <ion-toggle checked="false" formControlName="status"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'ADMIN_TITLE_INPUT' | translate }}</ion-label>
        <ion-toggle checked="false" formControlName="admin"></ion-toggle>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
