<ion-header>
  <ion-navbar color="primary">
    <ion-title>Confirmation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="selector noshadow">
    <img class="header" src="{{device.picture}}"/>
    <ion-card-title text-center>{{device.brand}} {{device.name}}</ion-card-title>
  </ion-card>
  <ion-list no-lines>
    <ion-item>
      <ion-label>{{ 'FROM' | translate}}: {{details.from | date:'dd/MM/yy H:mm'}}</ion-label>
      <ion-label>{{ 'TO' | translate}}: {{details.to | date:'dd/MM/yy H:mm'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'RESOLUTION_TITLE_INPUT' | translate }}: {{device.height}}x{{device.width}}</ion-label>
      <ion-label>{{ 'SCREEN_TITLE_INPUT' | translate }}: {{device.screen}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'DENSITY_TITLE_INPUT' | translate }}: {{device.density}}</ion-label>
      <ion-label>{{ 'VERSION_TITLE_INPUT' | translate }}: {{device.version}}</ion-label>
    </ion-item>
  </ion-list>
  <div padding>
    <button (click)="PickupDevice()" ion-button block color="primary">{{'RESERVE_BUTTON' | translate}}</button>
  </div>
</ion-content>
