<ion-header>

  <ion-navbar color="primary">
    <ion-title>Find a device</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list no-lines>

    <ion-item>
      <ion-label><ion-icon name="key"></ion-icon>{{ 'TYPE_TITLE_INPUT' | translate }}</ion-label>
      <ion-select [(ngModel)]="deviceType">
          <ion-option value="smartphone">{{ 'SMARTPHONE' | translate }}</ion-option>
          <ion-option value="tablette">{{ 'TABLET' | translate }}</ion-option>
          <ion-option value="smartwatch">{{ 'SMARTWATCH' | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="people"></ion-icon>{{ 'OS_TITLE_INPUT' | translate }}</ion-label>
      <ion-select [(ngModel)]="deviceOs">
        <ion-option value="iOS">iOS</ion-option>
        <ion-option value="Android">Android</ion-option>
        <ion-option value="WindowsPhone">Windows Phone</ion-option>
        <ion-option value="Androidwear">Androidwear</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="clock"></ion-icon>{{ 'PICKUP' | translate }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" max="2020-12-31" pickerFormat="DD MM YYYY" [(ngModel)]="from"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="alarm"></ion-icon>{{ 'RETURN_DEVICE_BUTTON' | translate }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" max="2020-12-31" pickerFormat="DD MM YYYY" [(ngModel)]="to"></ion-datetime>
    </ion-item>


  </ion-list>

  <button (click)="findDevices()" ion-button full color="light">Find Devices</button>

</ion-content>
