page-profile {
  .item-profile {
    background: white;
    position: relative;
    margin: 20px;
    text-align:center;
  }

  .item-image-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-profile-title {
    text-decoration-color: cornflowerblue;
    margin-top: -16px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-decoration:underline;
  }
  .item-profile-text {
    margin-top: 16px;
    margin-bottom: -16px;
    text-align: center;
    font-weight: bold;
  }
  .item-profile-text-time {
    text-decoration-color: coral;
  }
}
