<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'PROFILE_BUTTON' | translate }}</ion-title>
<!--    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <button ion-button (click)="popupChangeProfile()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="item-image-profile" text-center #imageProfile [style.background-image]="'url(' + users.picture + ')'">
  </div>
  <div class="item-profile" padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <ion-list>
      <ion-item>
        <ion-label color="primary">{{ 'NAME_TITLE_INPUT' | translate }}</ion-label>
        <ion-input disabled type="text" readonly="true" [(ngModel)]="users.name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{ 'EMAIL_TITLE_INPUT' | translate }}</ion-label>
        <ion-input disabled type="email" readonly="true" [(ngModel)]="users.email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'PHONE_TITLE_INPUT' | translate }}</ion-label>
        <ion-input  type="number"  [(ngModel)]="users.phone" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">{{ 'PASSWORD_TITLE_INPUT' | translate }}</ion-label>
        <ion-input type="password"  formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="hasError('password', 'passwordBadFormat')">
        <p text-wrap>Password must contain at least 1 uppercase Letter, 1 Number and must be between 4 and 12 characters long</p>
      </ion-item>
    </ion-list>
  </form>
  </div>
</ion-content>

