<ion-header>
  <ion-navbar color="primary">
    <ion-title>Réservation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="loadAllDevices($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <div >
      <ion-list style="margin-bottom: 16px;" no-lines>
        <ion-list-header class="item-reserve-title">
          {{ 'NEW_RESERVATION' | translate }}
        </ion-list-header>
      </ion-list>
      <div padding>
        <ion-list no-lines>
          <ion-item>
            <ion-label>{{ 'TYPE_TITLE_INPUT' | translate }}</ion-label><ion-icon name="phone-portrait" item-start></ion-icon>
            <ion-select [(ngModel)]="deviceType">
              <ion-option value="smartphone">{{ 'SMARTPHONE' | translate }}</ion-option>
              <ion-option value="tablette">{{ 'TABLET' | translate }}</ion-option>
              <ion-option value="smartwatch">{{ 'SMARTWATCH' | translate }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'OS_TITLE_INPUT' | translate }}</ion-label><ion-icon name="information-circle" item-start></ion-icon>
            <ion-select [(ngModel)]="deviceOs">
              <ion-option value="iOS">iOS</ion-option>
              <ion-option value="Android">Android</ion-option>
              <ion-option value="WindowsPhone">Windows Phone</ion-option>
              <ion-option value="Androidwear">Androidwear</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'PICKUP' | translate }}</ion-label><ion-icon name="clock" item-start></ion-icon>
            <ion-datetime displayFormat="DD/MM/YYYY H:mm" max="2020-12-31" pickerFormat="DD MM YYYY H:mm" [(ngModel)]="from"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'RETURN_DEVICE_BUTTON' | translate }}</ion-label><ion-icon name="alarm" item-start=""></ion-icon>
            <ion-datetime displayFormat="DD/MM/YYYY H:mm" max="2020-12-31" pickerFormat="DD MM YYYY H:mm" [(ngModel)]="to"></ion-datetime>
          </ion-item>
        </ion-list>
        <button (click)="findDevices()" ion-button block color="primary">{{'FIND_DEVICES' | translate}}</button>
      </div>
    </div>
  </ion-list>

    <ion-list  class="item-device-detail" padding-top no-lines>
      <ion-list-header class="item-reserve-title">
        {{ 'MY_RESERVATIONS' | translate }}
      </ion-list-header >
      <p padding style="color:red;" align="right">{{'ALERT_RETURN_DEVICE' | translate}}</p>
        <ion-grid>
          <ion-row>
            <ion-avatar item-start>
              <ion-icon style=" margin-top:12px; padding-left: 25px; padding-right: 25px;" name='phone-portrait'></ion-icon>
            </ion-avatar>
            <ion-label text-wrap>
              <div>{{ 'BRAND_TITLE_INPUT' | translate }}</div>
            </ion-label>
            <ion-label text-wrap>
              <div>{{ 'MODEL' | translate }}</div>
            </ion-label>
            <ion-label text-wrap>
              <div>{{ 'FROM' | translate }}</div>
            </ion-label>
            <ion-label text-wrap>
              <div>{{ 'TO' | translate }}</div>
            </ion-label>
          </ion-row>
        </ion-grid>
        <ion-list no-lines>
          <ion-item-sliding *ngFor="let item of allUserReservation">
            <button ion-item>
              <ion-avatar item-start>
                <img [src]="item.picture"/>
              </ion-avatar>
              <ion-label text-wrap>
                <h3>{{item.brand}}</h3>
              </ion-label>
              <ion-label text-wrap>
                <h3>{{item.name}}</h3>
              </ion-label>
              <ion-label text-wrap>
                <h3> {{item.from | date:'dd/MM/yy H:mm'}}</h3>
              </ion-label>
              <ion-label text-wrap>
                <h3> {{item.to | date:'dd/MM/yy H:mm'}}</h3>
              </ion-label>
            </button>
            <ion-item-options>
              <button ion-button color="secondary" (click)="ExtendDays(item)">
                {{ 'EXTEND_DEVICE_BUTTON' | translate }}
              </button>
              <button ion-button color="primary" (click)="ReturnDevice(item)">
                {{ 'RETURN_DEVICE_BUTTON' | translate }}
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </ion-list>
</ion-content>

