page-reserve {

  .item-reserve {
    background: white;
    position: relative;
    padding-top: 16px;
    margin: 10px;
    border-radius: 8px;
    border:2px solid dimgray;
  }
  .item-reserve-title {
    text-decoration-color: cornflowerblue;
    /*margin-top: -16px;*/
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-decoration:underline;
  }
  .item-reserve-text {
    margin-top: 16px;
    margin-bottom: -16px;
    text-align: center;
    font-weight: bold;
  }
  .item-reserve-text-time {
    text-decoration-color: coral;
  }

  .item-device-detail {
    background: white;
    position: relative;
    margin: 2px;
    border-radius: 8px;
    border:2px solid cornflowerblue;
  }

  .hidden{
    display: none !important;
  }
}
